body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.top-headline {
  border-left: 7px solid;
  border-image: linear-gradient(45deg, lightsalmon, tomato);
  border-image-slice: 1;
}
.headline-color {
  color: orange;
}
h1 {
  font-size: 80px;
  margin-left: 20px;
  line-height: 50px;
}
h2 {
  font-size: 50px;
  line-height: 22px;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 25px;
}
.link-button {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 45px;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  border-radius: 5px;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 70%;
}
.mission-headline {
  text-align: center;
}
.my-mission {
  margin-left: 10%;
  margin-right: 10%;
}
.mission-stape {
  width: 30%;
  margin-left: 2%;
}
.mission-stape img {
  width: 40%;
}
#mission {
  background-color: lightblue;
  border-radius: 35px;
  padding: 20px 15px 25px 35px;
}
#vission {
  background-color: lightpink;
  border-radius: 35px;
  padding: 20px 15px 25px 35px;
}
#goals {
  background-color: lemonchiffon;
  border-radius: 35px;
  padding: 20px 15px 25px 35px;
}
/* .develop-image {
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40%;
} */

.develop-content {
  padding-right: 10%;
  margin-left: -330px;
  padding-top: 90px;
}
.community-content {
  padding-top: 90px;
  margin-right: -90px;
}
footer {
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
}
